<div *ngIf="(shoppingCartService.ShoppingCartSumaryObservable | async) as cartSummary" class="bg-light p-30 mb-5">
    <div class="border-bottom pb-2"> 
        <div class="d-flex justify-content-between mb-3">
            <h6>Quantity</h6>
            <h6>{{cartSummary.quantity}}</h6>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <h6>Subtotal</h6>
            <h6>{{cartSummary.subtotal | currency}}</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 class="font-weight-medium">{{cartSummary.shipping | currency}}</h6>
        </div>
    </div>
    <div class="pt-2">
        <div class="d-flex justify-content-between mt-2">
            <h5>Total</h5>
            <h5>{{ cartSummary.total | currency}}</h5>
        </div>
    </div>
</div>