
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">Register</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


 <!-- Login Up Start -->
 <div class="container-fluid offset-sm-2 offset-md-2 offset-lg-2 offset-xl-2">
 
 
    <form [formGroup]="LoginForm" (ngSubmit)="onLoginFormSubmit()">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Login</span></h5>
                <div class="bg-light p-30 mb-5">
                    
                    
                <ul *ngIf="ServerErrors !==null" class="text-danger">
                    <li *ngFor="let error of ServerErrors">
                        {{error}}
                    </li>
                </ul>
                    
                    <div class="row">
                        
                      <!--Email-->
                        <div class="col-md-12 form-group">
                            <label>E-mail</label>
                            <input 
                            [class.valid]="LoginForm.get('email')?.touched && LoginForm.get('email')?.valid"
                            [class.invalid]="LoginForm.get('email')?.touched && !LoginForm.get('email')?.valid"
                             class="form-control"
                             type="email"
                             formControlName="email"
                             placeholder="E-mail">
                        
                             <div *ngIf="LoginForm.get('email')?.touched && !LoginForm.get('email')?.valid" class="text-danger">                        

                                <span *ngIf="LoginForm.get('email')?.errors?.['required']" > 
                                    Please enter an email.
                                </span>

                                <span *ngIf="LoginForm.get('email')?.errors?.['pattern']" > 
                                    Please enter a valid email address.
                                </span>       
                             </div>
                        </div>
                     
                     
                     
                        <div class="col-md-12 form-group">
                         
                            <label>Password</label>
                            <input class="form-control"
                            [class.valid]="LoginForm.get('password')?.touched && LoginForm.get('password')?.valid"
                            [class.invalid]="LoginForm.get('password')?.touched && !LoginForm.get('password')?.valid"
                             type="password" 
                             formControlName="password"
                             placeholder="password">
                         
                                    <div *ngIf="LoginForm.get('password')?.touched && !LoginForm.get('password')?.valid" class="text-danger">                        
                                                <span *ngIf="LoginForm.get('password')?.errors?.['required']" > 
                                                    Please enter an password.
                                                </span>
                                                <span *ngIf="LoginForm.get('password')?.errors?.['pattern']" > 
                                                    Password must have atleast eight characters, one uppercase letter, one lowercase letter, one number and one special character.
                                                </span>       
                                    </div>
                                
                        
                        </div>                   
              

                        <div class="col-md-6 form-group">
                        <span>Do not have an account ? <a routerLink="/Register">Sign In</a></span>  
                        </div>

                        <div class="col-md-12 form-group text-center">
                            <button  [disabled]="!LoginForm.valid"  type="submit"  class="btn col-3 btn-success">Login</button>
                            <button type="reset" class="btn offset-1 col-3 btn-danger">Reset</button>
                        </div>

                    </div>
                </div>
                
               
            </div>
        </div>
 </form>
   </div>

    <!-- Login End -->


   