
   <!-- thank-you section start -->
   <section class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
                    <h2 style="display: inline-block;">Thank you</h2>
                    <p>Payment is successfully processsed and your order is on the way</p>
                    <p>Order ID:  {{orderId}}</p>
                    <button class="btn btn-primary"  (click)="viewOrder()">View Order</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->