<div *ngIf="order!=null">

  <!-- Breadcrumb Start -->
  <div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark">Order</a>
                <span class="breadcrumb-item active">OrderDetails/</span>
                <span class="breadcrumb-item active">{{order.orderId}}</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!--section starts-->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>your order details</h3>
                    <div class="row product-order-detail" *ngFor="let item of order.orderedItems">
                        <div class="col-3"><img [src]="item.pictureUrl" alt=""
                                class="img-fluid blur-up lazyload"></div>
                        <div class="col-3 order_detail">
                            <div>
                                <h5>Name</h5>
                                <h5>{{item.productName}}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h5>Quantity</h5>
                                <h5>{{item.quantity}}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h5>Price</h5>
                                <h5>{{item.totalPrice | currency}}</h5>
                            </div>
                        </div>
                    </div>
                  
<br>
                    <div class="total-sec">
                        <ul>
                            <li>subtotal <span>{{order.subTotal | currency}}</span></li>
                            <li>shipping <span>{{order.deliveryPrice | currency}}</span></li>
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3> <strong>Total: </strong> <span>{{order.total | currency}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>summary</h4>
                        <ul class="order-detail">
                            <li>order ID: {{order.orderId}}</li>
                            <li>Order Date:{{order.orderDate}}</li>
                            <li>Order Total:{{order.total}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>shipping address</h4>
                        <ul class="order-detail">
                            <li>{{order.shippingAddress.firstName}} {{order.shippingAddress.lastName}}</li>
                            <li>{{order.shippingAddress.street}}</li>
                            <li>{{order.shippingAddress.city}}, {{order.shippingAddress.state}}</li>
                            <li>ZIPCODE. {{order.shippingAddress.zipCode}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 payment-mode">
                        <h4>payment method</h4>
                        <p>Pay on Delivery (Cash/Card). Cash on delivery (COD) available. Card/Net banking
                            acceptance subject to device availability.</p>
                    </div>
                    <div class="col-md-12">
                        <div class="delivery-sec">
                            <h3>expected date of delivery</h3>
                            <h2>{{order.orderDate}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

</div>